[Desktop Entry]
Type=Application
Version=1.0
Name=Запустить UMKA
Comment=Запустить распознавание и управление сортировкой
Exec=/bin/bash -lc "cd /home/umka/app && exec /home/umka/app/.venv/bin/python /home/umka/app/app.py --hardware gpiozero"
Path=/home/umka/app
Icon=utilities-terminal
Terminal=true
StartupNotify=true
Categories=Utility;
